* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
}

body {
    background: #f1f1f1;
}

.section {
    margin-top: 100px;
    margin-bottom: 40px;
}

.error-text {
    font-size: 14px;
}

sup {
    color: red;
}

.header-area img {
    width: 100%;
}

hr {
    margin: 0;
    color: inherit;
    background-color: #d0d5dd;
    border: 0;
    opacity: 0.25;
    margin-bottom: 45px;
}

/* Form Section Start */
.raffle-form {
    background: #fff;
    padding: 45px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-title {
    color: var(--gray-700, #344054);
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
    padding: 0 80px;
}

.form-content {
    padding: 0 80px;
}

.form-label {
    color: #232323;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    font-weight: 600;
}

input[type='file']::-webkit-file-upload-button {
    display: none;
}

.form-control,
.form-select {
    color: #838383;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border-radius: 6px;
    border: 1px solid #d0d5dd;
    padding: 12px;
}

.btn-submit {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    padding: 20px 30px;
    background: #1652e8;
    border: 0;
    border-radius: 6px;
}

.btn-submit:hover {
    color: #fff;
}
/* Form Section End */

/* Thanks Section Start */
.thanks-content {
    background: #fff;
    padding: 60px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.like {
    margin-bottom: 20px;
}

.thanks-text {
    color: #707070;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.visit-link {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #1652e8;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
}

.visit-link:hover {
    color: #fff;
}
/* Thanks Section End */


/* Social Section Start */
.social-collections {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.social-collections li {
    list-style: none;
}

.social-collections li a {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #1652e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.social-collections li a:hover {
    color: #1652e8;
}
/* Social Section End */
